version: "3.8"

services:
  backend:
    image: devthushari/devops_backend:latest
    container_name: backend_c
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    image: devthushari/devops_frontend:latest
    container_name: frontend_c
    ports:
      - "3000:5173"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: mongo_c
    ports:
      - "27017:27017"
    command: ["mongod", "--bind_ip_all"]
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
